<?php

// +-----------------------------------------------------------------+
// | NinjaFirewall (Pro edition) optional configuration file         |
// | See:                                                            |
// | http://nintechnet.com/ninjafirewall/pro-edition/help/?htninja   |
// |                                                                 |
// +-----------------------------------------------------------------+

// Put your PHP code below:

/*
// -------------------------------------------------------------------
// Block immediately a POST request if it contains a 'whatever' variable
// sent to a script named 'script.php' :
if ( isset($_POST['whatever']) && strpos($_SERVER['SCRIPT_NAME'], 'script.php') !== FALSE ) {
	return 'BLOCK';
}
*/


/*
// -------------------------------------------------------------------
// Allow immediately IP 1.2.3.4 :
if ( $_SERVER["REMOTE_ADDR"] == '1.2.3.4' ) {
   return 'ALLOW';
}
*/


/*
// -------------------------------------------------------------------
// Unset the cookie name 'my_cookie' from all visitors (this will not
// delete it from the user's browser) :
if ( isset($_COOKIE['my_cookie']) ) {
	unset($_COOKIE['my_cookie']);
}
*/


/*
// -------------------------------------------------------------------
// Users of the CDN service Cloudflare can copy the visitor real IP
// (HTTP_CF_CONNECTING_IP) into the REMOTE_ADDR
// **NOTE** : This is for NinjaFirewall Free edition only. If you have
//            the Pro+ edition, simply use the "Firewall > Access Control
//					> Source IP", menu to do it :)
if (! empty($_SERVER["HTTP_CF_CONNECTING_IP"]) &&
 filter_var($_SERVER["HTTP_CF_CONNECTING_IP"],FILTER_VALIDATE_IP)) {
	$_SERVER["REMOTE_ADDR"] = $_SERVER["HTTP_CF_CONNECTING_IP"];
}
*/



// do not add anything below this line -------------------------------


